* {
    font-family: 'Rajdhani';
    box-sizing: border-box;
}
body {
    background-color: #f5f7fa;
}
.container {
    max-width: 1201px;
    margin: 0 auto;
    box-shadow: 5px -2px 14px 1px rgba(0, 0, 0, .2);
    padding: 38px;
    display: flex;
}
ul, ol {
    padding-left: 17px;
}
aside {
    background-color: #050548;
    color: white;
}
aside>div {
    padding-left: 41px;
}

aside img {
    width: 370px;
    height: 500px;
    padding-right: 20px;
    padding-left: 20px;
}

aside a {
    color: white;
}
a:hover {
    color: orange;
}
.resume {
    margin-left: 80px;
}
.colortext {
    color: orange;
}
.dates {
    color: grey;
}